:host {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('../../../assets/images/background.jpg');
  background-size: 40%;

  .header {
    height: 60px;
    span {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: -100%;
      border-bottom: 1px solid var(--main-color);
      transition: all 0.5s;
    }

    p {
      font-family: Baro, serif;
      font-size: 100px;
      text-align: center;
      margin: 0;
      color: var(--main-color);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.5s;
    }

    &.scrolled {
      span {
        left: 0;

      }

      p {
        font-size: 56px;
        top: 0;
      }
    }

  }


}
