<main>
  <app-header [scrolled]="menuFolded" [categories]="productsKeys" (menuClick)="handleMenuClick()"></app-header>
  <div class="scroll-container">
    <section>
      <h3 class="menu-title" [ngClass]="{'scrolled': scrolled}">меню</h3>
    </section>
    <section *ngFor="let key of productsKeys" [id]="key">
      <h4>{{key.toString().toLowerCase()}}</h4>
      <div class="products-container">
        <div class="product" *ngFor="let product of groupedProducts[key]">
          <div>{{product.name.toString().toLowerCase()}}</div>
          <div>{{product.price}}</div>
        </div>
      </div>
    </section>
    <p class="description">Всички цени са в български лева.</p>
  </div>
</main>
<div class="navigation" [ngClass]="{'open': menuOpen}">
  <div class="empty-space" (click)="(handleMenuClick())"></div>
  <div class="menu-items">
    <span (click)=(navigate(category)) *ngFor="let category of productsKeys">
      {{category.toString().toLowerCase()}}
    </span>

  </div>
</div>
