.menu-title {
  font-family: Baro, serif;
  font-size: 210px;
  text-align: center;
  color: var(--main-color);
  transform: rotate(90deg);
  transition: all 0.5s;

  &.scrolled {
    transform: rotate(0);
    opacity: 0;
  }
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  font-family: Baro, serif;
  padding-top: 60px;

  h4 {
    text-align: center;
    font-size: 32px;
    margin: 0;
  }

  .products-container {
    padding: 30px 20px;

    .product {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      font-size: 20px;
    }

  }
}
