/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Baro';
  src: url("assets/fonts/ST-Artefakt-free.otf") format('opentype');
}


body {
  background-image: url('assets/images/background.jpg');
  background-size: 40%;
  margin: 0;
}

:root {
  --main-color: #686945;
}
